<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navi's blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div>
        <p>publised: 29:01:2021, 12:45</p>
        <h2><a href="">My first Post</a></h2>
        <p>Esto es una prueba</p>
    </div>
    <div>
        <p>publised: 29:01:2021, 12:45</p>
        <h2><a href="">My second Post</a></h2>
        <p>Esto es otra prueba</p>
    </div>
</body>
</html>